.login div {
	margin-top: 1em;
}

.login .pure-button {
	background-color: white;
	color: black;
	margin-top: 1em;
}


.splash-login {
  position: unset !important;
  width: 75%;
  margin-top: 3em !important;
}

.splash .login {
  width: 75%;
  height: 50%;
  margin: auto;
  text-transform: uppercase;
}

.splash h2 {
  width: 100%;
  margin: auto;
  text-transform: uppercase;
}

.splash form {
	margin-top: 2%;
	font-size: 20px;
}

.login .pure-form input[type] {
	margin-top: 1em;
}
